@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #dc143c;
}

html {
  background-color: var(--primary);
  width: 100vw;
  overflow-x: hidden;
}
body {
  background-color: #fff;
  width: 100vw;
  overflow-x: hidden;
}
