.spacer {
  aspect-ratio: 1440/130;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("/images/landing_page_background.svg");
}

.file_left {
  animation: file-left 3s linear infinite;
}

@keyframes file-left {
  50% {
    transform: translateY(50px);
  }
}
