.nav-item,
.navbar-brand {
  cursor: pointer;
}

.col-sm-8::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.col-sm-8 {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
